{% extends "base.html" %}

{% block content %}

    <h1 class="text-center my-5">{{ user.title }}</h1>

    <div class="p-5 offset-md-3 col-md-6 border border-secondary border-rounded rounded-5">

        <p>Nombre total de clients : {{all_customers}}</p>
        <p>Nombre total de contrats : {{all_contracts}}</p>
        <p class="mb-5 pb-5 border-bottom border-secondary">Nombre total d'événements : {{all_events}}</p>

        {% if user.role == "Commercial" %}
            <p>
                Mes contrats non signés : {{my_unsigned_contracts}} {% if my_unsigned_contracts > 0 %}⌛{% else %}✅{% endif %}
            </p>
            <p>
                Mes contrats non payés : {{my_unpaid_contracts}} {% if my_unpaid_contracts > 0 %}⌛{% else %}✅{% endif %}
            </p>
            <p>
                Nombre d'événements à créer : {{my_events_to_create}} {% if my_events_to_create > 0 %}⌛{% else %}✅{% endif %}
            </p>
        {% endif %}



        {% if user.role == "Gestion" %}

            <p>
                Nombre d'événements non assignés à un support : {{events_without_support}} {% if events_without_support > 0 %}⌛{% else %}✅{% endif %}
            </p>
        {% endif %}
        
        {% if user.role == "Support" %}
            <p>Mes événements : {{my_events}}</p>
        {% endif %}
    </div>
    

{% endblock content %}