# python version = 3.10.11
# python.exe -m pip install --upgrade pip

django
django-phonenumber-field[phonenumberslite]
django-bootstrap5
# used to access .env variables in settings
python-decouple
# used to add another database in settings
dj-database-url

pytest
pytest-django
coverage
pytest-cov


flake8
flake8-html

poetry

sentry-sdk[django]

# to deploy:
    # serveur utilisé sur render
    gunicorn
    psycopg2
