{% extends "base.html" %}

{% block content %}
    <h1 class="text-center my-5">Fiche {{title|lower}}</h1>
    <div class="offset-md-3 col-md-6 offset-1 col-10">

      <div class="card text-center">
        <div class="card-header">Identifiant : {{obj.id}}</div>

        <div class="card-body">
          <h5 class="card-title">{{obj.formatted_name}}</h5>
          <p class="card-text">{{obj.formatted_address}}</p>

          {% if user.role == "Commercial" %}
          <a href="{% url update_url_name id=obj.id  %}" class="btn btn-warning" title="Modifier">
            <i class="bi bi-pencil-fill"></i>
          </a> 
          <a href="{% url delete_url_name id=obj.id  %}" class="btn btn-danger" title="Supprimer">
            <i class="bi bi-x-lg"></i>
          </a>
          {% endif %}
          
        </div>

        <div class="card-footer text-muted">
          <p>Créé le : {{obj.creation_time|date}}</p>
          <p>Dernière modification : {{obj.edition_time|date}}</p>
        </div>

      </div>

    </div>
{% endblock content %}